@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- PRINT / PDF ---------- */
@media print {
  body {
    background: white;
  }

  .print-hidden {
    display: none !important;
  }

  .print-page {
    margin: 0;
    padding: 0;
    box-shadow: none !important;
    border: none !important;
  }
}